extends layout
append links
    li(style="float: right;")
        a(href="/logout") Logout
    li(style="float: right;")
        a(href="/adminHome") Home  
block content
    h1.page Admin Functions
    .modulelist
        ul#modulebuttons
            .column            
                li  
                    a(href="/updateUser") Update User
                        i.fa.fa-user-edit
                li
                    a(href="/delUser") Delete User
                        i.fa.fa-user-minus  