extends layout

append links 
    li(style="float: right;")
        a(href="/logout") Logout 
    li(style="float: right;") 
        a(href="/adminHome") Admin

block content
    .adminform-box
        .adminbtn-box
            #adminbtn
            button.admintoggle-btn(type='button' onclick='updateUser()')
                | Update User
            button.admintoggle-btn(type='button' onclick='delUser()')
                | Delete User
        form#updateUser.admininput-group(method="post" action="/updateUser")
            input.input-field(type='number' placeholder='ID' name='id')
            input.input-field(type='text' placeholder='Username' name='username')
            input.input-field(type='text' placeholder='Full Name' name='fullname')
            input.input-field(type='text' placeholder='Rank' name='userRank')
            input.submit-btn(type='submit' value='Update')
        form#delUser.admininput-group(method="post" action="/delUser")
            input.input-field(type='text' placeholder='User ID' name='id')
            input.submit-btn(type='submit' value='Delete')
    script.
        var x = document.getElementById("updateUser");
        var y = document.getElementById("delUser");
        var z = document.getElementById("adminbtn");
        function delUser(){
            x.style.left = "-400px";
            y.style.left = "50px";
            z.style.left = "110px";
        }
        function updateUser(){
            x.style.left = "50px";
            y.style.left = "450px";
            z.style.left = "0px";
        }