extends layout
append links 
    li(style="float: right;")
        a(href="/logout") Logout 
    li(style="float: right;") 
        a(href="/adminHome") Home

block content
    .form-box
        h1#adminpriv Delete User
        form#login.input-group(method="post" action="/delUser")
            input.input-field(type='text' placeholder='User ID' name='id')
            input.submit-btn(type='submit' value='Delete')

