extends layout
append links 
    li(style="float: right;")
        a(href="/logout") Logout
    li(style="float: right;")
        a(href="/home") Home 
block content
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    style.
        canvas {
        border: 1px solid #d3d3d3;
        margin-left: 19%;
        }
    script(type='text/javascript' src='js/fusion.js' charset='utf-8')
        
    

    canvas#fusionCanvas(height=900 width=1200)

            
            
