extends layout
append links 
    li(style="float: right;")
        a(href="/home") Home 
block content
    h1.page NUCLEAR FUSION ACCOUNTING
    div#inst 
            b Instuctions: 
            p Click and drag the particles above the Input and Output boxes into the top layer of the Output box. Balance out the charges to recieve the next problem!
            b Hint:
            p Pay attention to the charges effected by each particle!
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    style.
        canvas {
            border: 2px solid #000;
            margin-left: 24.5%;
            margin-top: -10%;
        }
    script(type='text/javascript' src='js/fusion.js' charset='utf-8')
        
    

    canvas#fusionCanvas(height=525 width=990)

            
            
