extends layout
append links 
    li(style="float: right;")
        a(href="/logout") Logout 
block content
    .quizcontainer
        #loader
        #game.justify-center.flex-column.hidden
            #hud
                #hud-item
                    p#progressText.hud-prefix
                        | Question
                    #progressBar
                        #progressBarFull
                #hud-item
                    p.hud-prefix
                        | Score
                    h1#score.hud-main-text
                        | 0
            h2#question
            .choice-container
                p.choice-prefix A
                p.choice-text(data-number='1')
            .choice-container
                p.choice-prefix B
                p.choice-text(data-number='2')
            .choice-container
                p.choice-prefix C
                p.choice-text(data-number='3')
            .choice-container
                p.choice-prefix D
                p.choice-text(data-number='4')
    script(src='js/game.js')