extends layout
block content
    .modulelist
        ul
            li 
                a(href="/hrsim") HR Diagram
            li 
                a(href="/galaxySort") Galaxy Sorting Module
            li 
                a(href="/spectra") Stellar Spectra Matching
