extends layout
block content
    h1.page Module List
    .modulelist
        ul#modulebuttons
            li  
                a(href="/hrsim") Star Sorting
                    i.fa.fa-grip-horizontal
            li
                a(href="/galaxySort") Galaxy Sorting Module
                    i.fa.fa-columns
            li
                a(href="/spectra") Stellar Spectra Matching
                    i.fa.fa-minus 
            li
                a(href="/fusion") Nuclear Fusion Accounting
                    
