extends layout
block content
    .modulelist
        ul
            li 
                a(href="/hrsim") HR Diagram
            li
                a(href="/") sim 2
            li
                a(href="/") sim 3
