extends layout
block content
    .modulelist
        ul#modulebuttons
            li
                i.fa.fa-buromobelexperte   
                a(href="/hrsim") HR Diagram
            li
                i.fa.fa-grip-lines-vertical 
                a(href="/galaxySort") Galaxy Sorting Module
            li
                i.fa.fa-minus  
                a(href="/spectra") Stellar Spectra Matching
