extends layout
block content
    h1.page Module List
    .modulelist
        ul#modulebuttons
            li  
                a(href="/hrsim") HR Diagram
                    i.fa.fa-buromobelexperte 
            li
                a(href="/galaxySort") Galaxy Sorting Module
                    i.fa.fa-grip-lines-vertical 
            li
                a(href="/spectra") Stellar Spectra Matching
                    i.fa.fa-minus  
