extends layout
append links 
    li(style="float: right;")
        a(href="/logout") Logout
    li(style="float: right;")
        a(href="/home") Home 
block content
    h1.page Module List
    .modulelist
        ul#modulebuttons
            .column            
                li  
                    a(href="/hrsim") HR Diagram Sorting
                        i.fa.fa-grip-horizontal
                li
                    a(href="/galaxySort") Galaxy Sorting Module
                        i.fa.fa-columns
            .column 
                li
                    a(href="/spectra") Stellar Spectra Matching
                        i.fa.fa-minus  
                li
                    a(href="/fusion") Nuclear Fusion Accounting
                        i.fa.fa-book-open
            


                    


