doctype html
html(lang="en")
    head
        meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no') 
        title=title
        include includes/styles
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js' integrity='sha256-/H4YS+7aYb9kJ5OKhFYPUjSJdrtV6AeyJOtTkw6X72o=' crossorigin='anonymous')
    body     
        .container
            include includes/header 
            block content

    
