extends layout
block content 
    #outerContainer
        #container
    
    //make textbox where students can type answer to the question
    //"What does this spectrum represent?"
    //make answer all lowercase and see if it matches to "guess" in ssm.js
    //have a simple boolean return if they are correct or not 
    //popup window that says if they were right/wrong and 
    //returns them to home screen  
    script(type='text/javascript' src='js/smm.js' charset='utf-8')