extends layout
append links 
    li(style="float: right;")
        a(href="/logout") Logout 
    li(style="float: right;") 
        a(href="/adminHome") Home

block content
    .form-box
        h1#adminpriv Update User
        form#login.input-group(method="post" action="/updateUser")
            input.input-field(type='number' placeholder='ID' name='id')
            input.input-field(type='text' placeholder='Username' name='username')
            input.input-field(type='text' placeholder='Full Name' name='fullname')
            input.input-field(type='text' placeholder='Rank' name='userRank')
            input.submit-btn(type='submit' value='Update')
