* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #2c2f33;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

h1.page {
  color: #fff;
  text-align: center;
}

.container {
  width: 100%;
  margin: 0 auto;
}

header {
  background: #23272a;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

nav {
  float: right;
  padding: 0 150px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #000;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
/* General Drag and Drop conatiner styles*/

#container {
  width: 100%;
  height: 800px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 7px;
  touch-action: none;
  text-align: center;
}

.request-btn {
  width: 8%;
  padding: 10px 30px;
  cursor: pointer;
  background: #55d6aa;
  border: 0;
  outline: none;
  border-radius: 30px;
  position: absolute;
  top: 875px;
  left: 46%;
}

.request-btn .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.request-btn .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.request-btn .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.grid-container {
  display: grid;
  position: absolute;
  grid-column-gap: 0px;
  grid-template-columns: auto auto auto auto auto;
  background-color: #23272a;
  padding: 10px;
  top: 100px;
  left: 33%;
  height: 650px;
  width: 650px;
}

.grid-item {
  background-color: #23272a;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.item {
  border-radius: 10%;
  touch-action: none;
  user-select: none;
  position: absolute;
  top: 765px;
  left: -100%;
  text-align: center;
  font-size: 30px;
}

#oneE {
  width: 80px;
  height: 80px;
  background-color: rgb(0, 0, 255);
}

#oneD {
  width: 75px;
  height: 75px;
  background-color: rgb(0, 0, 255);
}

#oneC {
  width: 70px;
  height: 70px;
  background-color: rgb(0, 0, 255);
}

#oneB {
  width: 65px;
  height: 65px;
  background-color: rgb(0, 0, 255);
}

#oneA {
  width: 60px;
  height: 60px;
  background-color: rgb(0, 0, 255);
}

#twoE {
  width: 85px;
  height: 85px;
  background-color: rgb(255, 255, 255);
}

#twoD {
  width: 80px;
  height: 80px;
  background-color: rgb(255, 255, 255);
}

#twoC {
  width: 75px;
  height: 75px;
  background-color: rgb(255, 255, 255);
}

#twoB {
  width: 70px;
  height: 70px;
  background-color: rgb(255, 255, 255);
}

#twoA {
  width: 65px;
  height: 65px;
  background-color: rgb(255, 255, 255);
}

#threeE {
  width: 90px;
  height: 90px;
  background-color: rgb(255, 165, 0);
}

#threeD {
  width: 85px;
  height: 85px;
  background-color: rgb(255, 165, 0);
}

#threeC {
  width: 80px;
  height: 80px;
  background-color: rgb(255, 165, 0);
}

#threeB {
  width: 75px;
  height: 75px;
  background-color: rgb(255, 165, 0);
}

#threeA {
  width: 70px;
  height: 70px;
  background-color: rgb(255, 165, 0);
}

#fourE {
  width: 95px;
  height: 100px;
  background-color: rgb(255, 99, 71);
}

#fourD {
  width: 90px;
  height: 90px;
  background-color: rgb(255, 99, 71);
}

#fourC {
  width: 85px;
  height: 85px;
  background-color: rgb(255, 99, 71);
}

#fourB {
  width: 80px;
  height: 80px;
  background-color: rgb(255, 99, 71);
}

#fourA {
  width: 75px;
  height: 75px;
  background-color: rgb(255, 99, 71);
}

#fiveE {
  width: 100px;
  height: 100px;
  background-color: rgb(255, 0, 0);
}

#fiveD {
  width: 95px;
  height: 95px;
  background-color: rgb(255, 0, 0);
}

#fiveC {
  width: 90px;
  height: 90px;
  background-color: rgb(255, 0, 0);
}

#fiveB {
  width: 85px;
  height: 85px;
  background-color: rgb(255, 0, 0);
}

#fiveA {
  width: 80px;
  height: 80px;
  background-color: rgb(255, 0, 0);
}

.lists {
  display: flex;
  flex: 1;
  width: 100%;
  overflow-x: scroll;
}

.lists .list {
  display: flex;
  flex-flow: column;
  flex: 1;

  width: 100%;
  min-width: 50px;
  max-width: 350px;
  height: 100%;
  min-height: 150px;

  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 15px;
  padding: 8px;
  transition: all 0.2s linear;
}

.lists .list .galaxyItem {
  border-radius: 8px;
  padding: 0px 0px;
  text-align: center;
  margin: 4px 0px;
}

.item:active {
  opacity: 0.75;
}

.item:hover {
  cursor: pointer;
}
